
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Instructions to reset your password:</h1>
    <p>
      You have requested to reset the password for
      the account associated with this email address <%= @user.email %>.<br>
    </p>
    <p>
      To reset your password, just follow this link: <%= @url %>
      and enter the code <%= @user.password_token %>
    </p>
    <p>If you did not request this, please ignore</p>
  </body>
</html>